@{
    ViewData["Title"] = "Thông tin sinh viên ";
}

<div class="alert alert-info" >
    <h1>@ViewData["Title"]</h1>
    <hr />
    <p>Mã sinh viên : 2310900011</p>
    <p>Họ và tên: Nguyên Đinh Báu</p>
    <p>Email: Ndb1134@gmail.com</p>
    <p>Điện thoại: 0917491571</p>
    <p>Lớp: K23CNT3</p>
</div>
